* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Sarpanch', sans-serif;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, #2A6F97, #A9D6E5);
    color: white;
}

header {
    display: grid;
    width: 100vw;
    height: 150px;
    align-items: center;
    justify-items: center;
    font-size: 35px;
}

#reset {
    margin: 5px;
    padding: 5px;
    border: 1px solid black
}

#app {
    display: grid;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: auto;
    height: 450px;
    width: 450px;
    background-color: white;
}

.square {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100%;
    width: 100%;
    font-size: 3rem;
    font-weight: bold;
    padding: 10px;
    background-color: #61A5C2;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#reset {
    margin: 5px;
    padding: 10x 20px;
    text-transform: uppercase;
    background-color: white;
    font-size: larger;
    border: none;
}

#reset:hover {
    background-color: #013A63;
    color: white;
}

.game-message {
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
}

.name-form {
    display: grid;
    justify-content: center;
    margin-bottom: 10px;
}

.submit-button {
    background-color: #2A6F97;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.submit-button:hover {
    background-color: #A9D6E5;
    color: #013A63;
}

.square:hover {
    background-color: #013A63;
    color: white;
}